[submodule "number-theory/ago-giuga"]
	path = number-theory/ago-giuga
	url = git@github.com:SamuelSchlesinger/agoh-giuga-conjecture.git
[submodule "combinatorics/hadamard-conjecture"]
	path = combinatorics/hadamard-conjecture
	url = git@github.com:SamuelSchlesinger/hadamard-conjecture.git
[submodule "graph-theory/reconstruction-conjecture"]
	path = graph-theory/reconstruction-conjecture
	url = git@github.com:SamuelSchlesinger/reconstruction-conjecture.git
[submodule "combinatorics/sensitivity"]
	path = combinatorics/sensitivity
	url = git@github.com:SamuelSchlesinger/sensitivity-conjecture.git
[submodule "number-theory/collatz"]
	path = number-theory/collatz
	url = https://github.com/SamuelSchlesinger/collatz-conjecture.git
[submodule "number-theory/erdos-straus"]
	path = number-theory/erdos-straus
	url = git@github.com:SamuelSchlesinger/erdos-straus-conjecture.git
[submodule "algebra/herzog-schonheim"]
	path = algebra/herzog-schonheim
	url = git@github.com:SamuelSchlesinger/herzog-schonheim-conjecture.git
[submodule "number-theory/carmichael-totient"]
	path = number-theory/carmichael-totient
	url = git@github.com:SamuelSchlesinger/carmichael-totient-conjecture.git
[submodule "number-theory/goldbach"]
	path = number-theory/goldbach
	url = git@github.com:SamuelSchlesinger/goldbach-conjecture.git
[submodule "number-theory/legendre"]
	path = number-theory/legendre
	url = git@github.com:SamuelSchlesinger/legendre-conjecture.git
[submodule "number-theory/twin-prime"]
	path = number-theory/twin-prime
	url = git@github.com:SamuelSchlesinger/twin-prime-conjecture.git
[submodule "number-theory/oppermann"]
	path = number-theory/oppermann
	url = git@github.com:SamuelSchlesinger/oppermann-conjecture.git
